<div uib-collapse="!control.sliderVisible" expanded="control.rerenderSlider()">
	<div class="row">
		<div class="col-xs-12">
			<b> Time range filter</b>
			</br>
			<rzslider rz-slider-model="slider.minValue" 
			rz-slider-high="slider.maxValue" 
			rz-slider-options="slider.options"></rzslider>
		</div>
	</div>
</div>
<div class="row" style="margin-top:10px;">
	<div class="col-xs-12 col-sm-6 col-md-2" uib-collapse="!control.userpickerVisible">
		<b>Selected User</b>
		</br>
		<select ng-model="userData.chosen_user_for_gui" id="chosen_user" class="form-control" ng-options="user as user for user in userData.users" ng-change="userData.userChange()">
		</select>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-2" uib-collapse="!control.datepickerVisible">
		<b>Selected Date</b>
		</br>
		<div class="input-group">
			<input type="text" class="form-control" uib-datepicker-popup ng-model="dt.value" is-open="popup.opened"
				datepicker-options="dateOptions" ng-required="true" close-text="Close" /> 
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open()">
					<i class="glyphicon glyphicon-calendar" style="line-height: 20px;"></i>
				</button>
			</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-2" uib-collapse="!control.timelineDatapickerVisible">
		<b>Selected Data Kind (Timeline)</b>
		</br>
		<select ng-model="sourceData.timeline_source_for_gui" id="chosen_source" class="form-control" ng-options="source as source for source in sourceData.timelineSources" ng-change="sourceData.timelineSourceChange()">
		</select>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-3" uib-collapse="!control.mapButtonsVisible">
		<b>Map Control</b>
		</br>
		<div class="btn-group" role="group" aria-label="Basic example">
			<button type="submit" class="btn btn-default" id="heatmap_button" ng-model="heatmap_button" ng-click="mapControlData.toggleHeatmap()">Show Heatmap</button>
			<button type="submit" class="btn btn-default" id="center_map" ng-model="center_map" ng-click="mapControlData.centerMap()">Center Map</button>	
			<button type="submit" class="btn btn-default" id="request_census" ng-model="census_button" ng-click="mapControlData.requestCensusData()">Request Census Data</button>	
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-1" uib-collapse="!control.csvTimelineButtonsVisible">
		<b>Refresh (Timeline)</b>
		</br>
		<button type="submit" class="btn btn-default" ng-click="refreshOrders.timeline()">Refresh</button>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-2" uib-collapse="!control.csvMapButtonsVisible">
		<b>CSV Export (Map)</b>
		</br>
		<div class="btn-group" role="group" aria-label="Basic example">
			<button type="submit" class="btn btn-default" ng-click="csvTrigger.startLocationCsv()">Export Locations</button>
			<button type="submit" class="btn btn-default" ng-click="csvTrigger.startBlockCsv()">Export Blocks</button>
		</div>
		<div ng-if="csvParameter.createCsvMap">
   			<uib-progressbar max="100" value="csvParameter.csvProgressMap"><b>{{csvParameter.csvProgressMap}}%</b></uib-progressbar>
			<button type="submit" class="btn btn-default" ng-click="csvTrigger.startBlockCsv()">Cancel Export</button>
		</div>	
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-2" uib-collapse="!control.csvTimelineButtonsVisible">
		<b>CSV Export (Timeline)</b>
		</br>
		<button type="submit" class="btn btn-default" ng-click="csvTrigger.startTimelineCsv()">Export fetched data</button>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-3" uib-collapse="!control.csvUserInformationButtonsVisible">
		<b>CSV Export (User information)</b>
		</br>
		<div class="btn-group" role="group" aria-label="Basic example">
			<button type="submit" class="btn btn-default" ng-click="csvTrigger.startUserInformationCsvOne()">Export data from one user</button>
			<button type="submit" class="btn btn-default" ng-click="csvTrigger.startUserInformationCsvAll()">Export data from all users</button>
		</div>
		<div ng-if="csvParameter.createCsvUserInformation">
   			<uib-progressbar max="100" value="csvParameter.csvProgressUserInformation"><b>{{csvParameter.csvProgressUserInformation}}%</b></uib-progressbar>
		</div>	
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-2" uib-collapse="!control.mapOriginCheckboxesVisible">
		<b>Upload origin (Map)</b>
		</br>
		<input type="checkbox" ng-model="mapControlData.wifiAsOriginChecked">
		<span>Network</span>
		<img class="marker" src="../img/blue_marker.png">
		</br>
        <input type="checkbox" ng-model="mapControlData.gpsAsOriginChecked">
        <span>GPS</span>
        <img class="marker" src="../img/red_marker.png">
		</br>
        <input type="checkbox" ng-model="mapControlData.cellAsOriginChecked">
        <span>Cell tower</span>
        <img class="marker" src="../img/green_marker.png">
	</div>
</div>