<div uib-collapse="!control.sliderVisible">
	<div class="row">
		<div class="col-xs-12">
			<b> Time range filter</b>
			</br>
			<rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
		</div>
	</div>
</div>
<div class="row" style="margin-top:10px;">
	<div class="col-xs-12 col-sm-6 col-md-2" uib-collapse="!control.userpickerVisible">
		<b>Selected User</b>
		</br>
		<select ng-model="userData.chosen_user_for_gui" id="chosen_user" class="form-control" ng-options="user as user for user in userData.users" ng-change="userData.userChange()">
		</select>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-2" uib-collapse="!control.datepickerVisible">
		<b>Selected Date</b>
		</br>
		<div class="input-group">
			<input type="text" class="form-control" uib-datepicker-popup ng-model="dt.value" is-open="popup.opened"
				datepicker-options="dateOptions" ng-required="true" close-text="Close" /> 
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open()">
					<i class="glyphicon glyphicon-calendar" style="line-height: 20px;"></i>
				</button>
			</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-2" uib-collapse="!control.timelineDatapickerVisible">
		<b>Selected Data Kind (Timeline)</b>
		</br>
		<select ng-model="sourceData.timeline_source_for_gui" id="chosen_source" class="form-control" ng-options="source as source for source in sourceData.timelineSources" ng-change="sourceData.timelineSourceChange()">
		</select>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-2" uib-collapse="!control.mapButtonsVisible">
		<b>Map Control</b>
		</br>
		<div class="btn-group" role="group" aria-label="Basic example">
			<button type="submit" class="btn btn-default" id="heatmap_toggle" ng-model="heatmap_toggle" ng-click="mapControlData.toggleHeatmap()">Show Heatmap</button>
			<button type="submit" class="btn btn-default" id="center_map" ng-model="center_map" ng-click="mapControlData.centerMap()">Center Map</button>	
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-4" uib-collapse="!control.csvMapButtonsVisible">
		<b>CSV Export (Map)</b>
		</br>
		<div class="btn-group" role="group" aria-label="Basic example">
			<button type="submit" class="btn btn-default" ng-click="csvTrigger.startLocationCsv()">Export Locations</button>
			<button type="submit" class="btn btn-default" ng-click="csvTrigger.startBlockCsv()">Export Blocks</button>
			<div ng-if="csvParameter.createCsvMap">
   				<uib-progressbar max="csvParameter.maxMap" value="csvParametert.csvProgressMap"><b>{{csvParameter.csvProgressMap}}%</b></uib-progressbar>
				<div>Cancel download</div>
			</div>	
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-4" uib-collapse="!control.csvTimelineButtonsVisible">
		<b>CSV Export (Timeline)</b>
		</br>
		<button type="submit" class="btn btn-default" ng-click="csvTrigger.startTimelineCsv()">Export fetched data</button>
	</div>
</div>