<div allowed="SEE_GUI" style="width:99%; height:80%;">
	<header class="navbar navbar-default navbar-fixed-top navbar-inner">
        <nav class="hidden-xl">
            <ul class="nav navbar-nav navbar-left">
                <a href="#top" role="button" class="navbar-brand">MADCAP Web Application</a>
                <li class="dropdown" uib-dropdown="">
                    <a role="button" class="dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">Jump To<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                         <li ng-repeat="view in viewControl | visibility_filter">
                         	<p>{{view.name}}</p>
                         </li>
                    </ul>
                </li>
                <li class="dropdown" uib-dropdown="">
                    <a role="button" class="dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">Manage views</a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="view in viewControl">
                          	<div ng-style="{'background-color':view.style, color:view.textColor, cursor: barControl.mouseStyle}" ng-mouseover="barControl.dropdownHover()" ng-mouseleave="barControl.dropdownHover()" ng-click="barControl.toggleColor(view.name, $event)">{{view.name}}</div>
                        </li>
                    </ul>
                </li>
        		<img class="navbar-brand logo bararrow" src="../img/right_arrow.png">
        		<img class="navbar-brand bararrow" src="../img/left_arrow.png">
            </ul>
            <ul class="nav navbar-nav navbar-right">
        		<img class="navbar-brand logo" style="margin-right: 20px;" src="../img/ps_logo.png">
           	</ul>
        </nav>
        <nav class="visible-xs collapse" uib-collapse="!isCollapsed" style="height: 0px;">
            <ul class="nav navbar-nav">
                <li><a href="#getting_started" ng-click="isCollapsed = !isCollapsed">Getting started</a></li>
                <li><a href="#directives_small" ng-click="isCollapsed = !isCollapsed">Directives</a></li>
            </ul>
        </nav>
	</header>
	
	<div id="controllers">
		<div ng-if="controlControl.dateAndSlider.visible">
			<map-buttons></map-buttons>
		</div>
		<div ng-if="controlControl.dateAndSlider.visible">
			<date-and-slider></date-and-slider>
		</div>
	</div>
	<div id="views">
		<div ng-if="viewControl.usermap.visible">
			<user-map></user-map>
		</div>
		<div ng-if="viewControl.timeline.visible">
			<timeline></timeline>
		</div>
	</div>
</div>