<div allowed="SEE_GUI">
	<h1>Hello App Engine!</h1>	

	<form ng-submit="list()">
  	  <input type="text" ng-model="filter_type" size="50"><br>
  	  <input type="text" ng-model="filter_content" size="50"><br>
  	  <input type="submit" class="btn" value="Get Entries">
	</form>

	<div id="container">
		<table id="probeTable">
			<thead>
				<tr>
					<th>User ID</th>
					<th>Timestamp</th>
					<th>ProbeType</th>
					<th>SensorData</th>
				</tr>
			</thead>
			<tbody id="probeList">
			</tbody>
		</table>
	</div>
	<div>
	  <ul>
        <li ng-repeat="probe in entries | filter: searchData">
          <p>{{count}} {{probe.sensorType}}  {{probe.sensorData}}  {{probe.userID}}  {{probe.timestamp}}</p>
        </li>
      </ul>
	</div>
</div>