<div allowed="SEE_GUI" style="width:99%; height:80%;">
	<div id="maploadspinner" class="loader" style="display: block; margin-left: auto; margin-right: auto;"></div>
	<h3 id="maploadmessage" style="text-align: center;">Loading Google Maps ...</h3>   	
	<div ng-if="refreshMap">
 	    <div class="row vcenter"  style="margin-bottom: 10px; margin-top: 20px;">
   			<div class="col-md-7">
   				<div class="btn-group" role="group" aria-label="Basic example" style="margin-left: 20px;">
					<button type="submit" class="btn btn-success" id="heatmap_toggle" ng-model="heatmap_toggle" ng-click="toggleHeatmap()">Show Heatmap</button>
					<button type="submit" class="btn btn-success" id="center_map" ng-model="center_map" ng-click="centerMap()">Center Map</button>
					<button type="submit" class="btn btn-success" ng-click="downloadLocationCSV()">Download locations as CSV</button>
					<button type="submit" class="btn btn-success" ng-click="downloadCSV()">Download blocks as CSV
						<div ng-if="csv.createCsv">
   					 		<uib-progressbar max="csv.max" value="csv.csvProgress"><b>{{csv.csvProgress}}%</b></uib-progressbar>
							<div>Cancel download</div>
						</div>
					</button>	
				</div>
			</div>
			<div class="col-md-1">
				<div class="container" style="text-allign: center;">
					<h2></h2>
				</div>
			</div>
			<div class="col-md-1" style="text-align:right;">Selected User:</div>
			<div class="col-md-3">
				<div style="margin-right: 20px;">
					<select ng-model="userData.chosen_user" id="chosen_user" class="form-control" ng-options="user as user for user in userData.users" ng-change="userData.userChange()"></select>
				</div>
			</div>
		</div>
		<div class="row vcenter" style="margin-bottom: 10px; margin-top: 20px;">
			<div class="col-md-8">
				<div style="margin-left: 20px;">
					<rzslider 
						rz-slider-model="slider.minValue" 
						rz-slider-high="slider.maxValue"
						rz-slider-options="slider.options">
					</rzslider>
				</div>
			</div>
			<div class="col-md-1" style="text-align:right;">Selected Date:</div>
			<div class="col-md-3" style="margin-top: 15px;">
        		<div style="margin-right: 20px;">
        	 		<p class="input-group">
          	 			<input type="text" class="form-control" uib-datepicker-popup ng-model="dt.value" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
          				<span class="input-group-btn">
            				<button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
          				</span>
       		 		</p>
     			</div>
			</div>
		</div>
		<div class="row">	
			<div class="col-md-8" id="old_map_content">
				<div style="margin-bottom: 20px; margin-top: 20px; margin-left: 20px; margin-right: 20px;">
					<div class="jumbotron">
						<div style="margin-left: 10px;">
							<ng-map center="[38.97, -76.92]" zoom="15" default-style="false" style="height:85%;"></ng-map>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4"id="census_map_content">
				<h3>Geographical Data:</h3>
				Longitude: {{censusData.longitude}}
				</br>
				Latitude: {{censusData.latitude}}
				</br>
				State: {{censusData.blockData.state}}
				</br>
				County: {{censusData.blockData.county}}
				</br>
				Tract: {{censusData.blockData.tract}}
				</br>
				Block group: {{censusData.blockData.blockGroup}}
				</br>
				Block: {{censusData.blockData.block}}
				</br>
				Place name: {{censusData.blockData.place_name}}
				</br>
				<h3>Census Data:</h3>
				Average household size (owner): {{censusData.averages.owner}}
				</br>
				Average household size (renter): {{censusData.averages.renter}}
				</br>
				Average household size (total): {{censusData.averages.total}}
				</br>
			</div>
		</div>
		<div class="row">	
			<div class="col-md-1">
				<div style="margin-left: 20px;">
				</div>
			</div>
			<div class="col-md-6">
				
			</div>
			<div class="col-md-5" >
				<div style="text-align:right; margin-right: 20px;">
					This product uses the Census Bureau Data API but is not endorsed or certified by the Census Bureau.
				</div>
			</div>
		</div>
	</div>
</div>