<div allowed="SEE_GUI">
		<div id="maploadspinner" class="loader"></div>
			<h3 id="maploadmessage">Loading Google Maps ...</h3>
   		<div ng-if="refreshMap">
 	    	<div class="row">
   				<div class="col-md-4">
   					<div class="btn-group" role="group" aria-label="Basic example">
    					<button type="submit" class="btn btn-success" ng-click="showMarkers()" style="margin-bottom: 10px;">Show last Locations</button>
						<button type="submit" class="btn btn-success" id="heatmap_toggle" ng-model="heatmap_toggle" ng-click="toggleHeatmap()">Show Heatmap</button>
					</div>
				</div>
				<div class="col-md-8">
					<select ng-model="chosen_user" id="chosen_user" class="form-control" ng-options="user as user for user in users" ng-change="userChange()"></select>
				</div>
			</div>
			<div class="jumbotron">
				<ng-map center="[38.97, -76.92]" zoom="15"></ng-map>
			</div>
		</div>
	</div>
</div>